.controls {
  flex: 1;
  display: flex;
  gap: 10px;
}

.control {
  cursor: pointer;
  flex: 1;
  background-color: #4d4d4d;
  border-radius: 4px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: #fff;
}

.control:hover {
  background-color: #616161;
}