.gridItem {
  border: 5px solid transparent;
  background-color: #a1a1a1;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridItem.selected {
  border-color: rgb(61, 112, 179);
}